<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Plan</title>
</head>
<body>
    <a href="/dashboard/">Home</a> | <a href="/logout">Logout</a>
    <div class="add">
        <h2>Add a Trip</h2>
        <form action="/dashboard/process_trip" method="POST">
            {% csrf_token %}
            <label for="destination">Desination: </label>
            <input type="text" name="destination"><br>
            <label for="description">Description: </label>
            <input type="text" name="description"><br>
            <label for="date_from">Start Date: </label>
            <input type="date" name="date_from"><br>
            <label for="date_to">End Date: </label>
            <input type="date" name="date_to">
            <input type="hidden" name="userid" value="{{request.session.userid}}">
            <input type="submit" value="Add">
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>